
# Dist and build
*.egg-info/
build/
dist/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Venv
.venv/
venv/
_venv/

# IDE and Cache
.vscode/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/

# Dev files
.dev/

# Old example files (before #105)
path/to/

# Config file
config.toml

# Log files
*.log
